<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="UTF-8"> 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
 <title>My Website - About</title> 
</head> 
<body> 
 <h1>Alexia Brooks</h1> 
 <img src="{{url_for('static', filename='alexia_gorl.jpg')}}"/>

 <p> I'm Alexia, and I'm passionate about a variety of things. 
    First and foremost, I love diving into the world of computer science.
     There's something incredibly satisfying about coding and solving complex problems.
      But beyond that, photography is my escape. Whenever I have free time, you'll likely find me with my camera,
       capturing the beauty of the world around me. I also LOVE music,it's like therapy for me. 
       I have playlists for every mood and occasion.
 </p> 

</body> 
</html>