<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="UTF-8"> 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
 <title>My Website - About</title> 
</head> 
<body> 
 <h1>Alexia Brooks</h1> 
 <img src="{{url_for('static', filename='alexia_gorl.jpg')}}"/>

 <p> Alexia is a well-rounded individual with a diverse range of interests. 
    She's deeply engrossed in the world of computer science and is constantly immersing herself in coding projects.
     However, her passion extends beyond the digital realm. You'll often find her behind the lens of her camera, 
     capturing the beauty of the world around her through photography. Additionally, Alexia has a profound appreciation 
     for music, curating playlists that reflect her varied tastes and moods.
    
 </p> 

</body> 
</html>